body {
  font-family: Mulish;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #f8f8f8;
  color: #ffffff;
  box-sizing: border-box;
}

.portfolioContainer2 {
  background-color: #010222;
  height: full;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .portfolioContainer2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.showCase,
.showcase2,
.showCase3,
.showCase4,
.showCase5,
.showCase6 {
  background-color: transparent;
  position: relative;
  margin-top: 15%;
  height: 50vh;
  width: 50%;
}

@media (max-width: 768px) {
  .showCase,
  .showcase2,
  .showCase3,
  .showCase4,
  .showCase5,
  .showCase6 {
    height: 200px;
    width: 50%;
    margin-left: 150px;
    margin-top: 15%;
  }
}

.showCase img,
.showcase2 img,
.showCase3 img,
.showCase4 img,
.showCase5 img,
.showCase6 img {
  position: relative;
  margin-left: 250px;
  height: 90%;
  width: 60%;
  border-radius: 10%;
  transition: transform 0.5s ease;
}

.showCase img:hover,
.showcase2 img:hover,
.showCase3 img:hover,
.showCase4 img:hover,
.showCase5 img:hover,
.showCase6 img:hover {
  transform: scale(1.1);
}

.ProjectDetails {
  margin-left: 300px;
}

.ProjectDetails,
.projectDescription {
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  transition: transform 0.5s ease;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 40px;
}

.ProjectDetails:hover {
  transform: scale(1.1);
}

.ProjectDetails h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #767676;
}

@media (max-width: 768px) {
  .ProjectDetails h1 {
    font-size: 25px;
  }

  .ProjectDetails {
    width: 200px;
    height: 30px;
    background: none;
  }
}

.icon {
  color: #0f0f0f;
  margin-left: 50%;
}

@media (max-width: 768px) {
  .icon {
    margin-left: 90%;
    justify-content: center;
  }
}

.containerText {
  position: absolute;
  display: flex;
  font-size: 60px;
  font-weight: bold;
  width: 40%;
  margin-left: 25%;
  margin-top: 2%;
  height: 10vh;
  align-items: center;
}

@media (max-width: 768px) {
  .containerText {
    margin-top: 5%;
    width: 90%;
    height: 20%;
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .containerText p {
    font-size: 40px;
  }
}

.testSubtitle {
  position: absolute;
  width: 90%;
  margin-top: 7%;
  color: #ffffff;
  display: flex;
  font-size: 25px;
  height: 10vh;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .testSubtitle {
    display: none;
  }
  .containerText {
    display: none;
  }
}
