body {
  font-family: Mulish;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  background-color: #f8f8f8;
  color: #ffffff;
  box-sizing: border-box;
}
.testSubtitle{
  display: none;
}

.portfolioContainer2 {
  background-color: #010222;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 210vh;

}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 0px; /* Gap between grid items */
  /* border: 2px solid white; */
  margin-left: 200px;
  margin-top: 0px;
}

.showCase,
.showcase2,
.showCase3,
.showCase4,
.showCase5,
.showCase6 {
  background-color: transparent;
  height: 40vh;
  width: 80%;
  box-sizing: border-box;
  margin-left: 75px;
  margin-top: 15%;
}



.showCase img,
.showcase2 img,
.showCase3 img,
.showCase4 img,
.showCase5 img,
.showCase6 img {
  height: 90%;
  width: 100%; /* Adjust width to fill the container */
  border-radius: 10px; /* Adjust border-radius */
  transition: transform 0.5s ease;
}

.showCase img:hover,
.showcase2 img:hover,
.showCase3 img:hover,
.showCase4 img:hover,
.showCase5 img:hover,
.showCase6 img:hover {
  transform: scale(1.1);
}

.ProjectDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center the text */
  font-size: 5px;
}

.projectDescription {
  margin-top: 10px; /* Adjust margin-top */
}

.icon {
  color:#f8f8f8;
}

.containerText {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px; /* Adjust margin-top */
}

.containerText p {
  font-size: 40px;
}

@media (max-width: 768px) {
  .containerText{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .containerText p{
      margin-top: 0px;
  }
  .testSubtitle {
    display:none;
  }
  .portfolioContainer2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  
  .project-container {
    margin-left: 0;
    width: 400px;
    grid-template-columns: 1fr; /* One item per row */
  }

  .showCase,
  .showcase2,
  .showCase3,
  .showCase4,
  .showCase5,
  .showCase6 {
    margin: auto;
    margin-top: 20%; /* Optional: Adjust margin-top for smaller screens */
    width: 100%; /* Reduce width to center the items better on smaller screens */
    height: 250px;
    gap: 20px;
  }
  .projectDescription{
    margin-top: 0px;
  }
 
}
